.form {
  margin: 16px;
  > .tagNameWrapper {
    display: flex;
    flex-direction: column;
    > input {
      height: 36px;
      margin: 6px 0;
      padding: 8px;
      border: 1px solid black;
      border-radius: 6px;
    }
    > span {
      &.error {
        color: red;
      }
    }
  }
  .tagEmojiWrapper {
    > .tagEmojiTitle {
      display: inline-block;
      margin: 6px 0;
    }

    > .emojiErrorText {
      display: inline-block;

      margin: 6px 0;

      color: red;
    }
  }
  > .emojiTips {
    text-align: center;
  }
  > .buttonWrapper {
    > .button {
      width: 100%;
      margin-top: 16px;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px;
  > .deleteTag,
  .deleteTagAndRecord {
    width: calc(50% - 8px);
  }
}
