.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // visibility: hidden;
  > .card {
    background: var(--welcome-card-bg);
    border-radius: 12px;
    margin: 16px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid var(--welcome-card-border);
    > img {
      height: 148px;
    }
  }
  > .actions {
    position: fixed;
    z-index: var(--z-index-bottom-nav);
    background-color: var(--welcome-bg-color-end);
    height: var(--welcome-bottom-nav-height);
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 28px;
    font-size: 28px;
    font-weight: bold;
    color: var(--welcome-text-color);
    > .fake {
      visibility: hidden;
    }
  }
}
