.text {
  text-align: center;
  font-size: 32px;
}

.pig {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 120px 0;
  }
}

.backToHomePage {
  margin-top: 24px;
  text-align: center;
  font-size: 24px;
  > span {
    padding: 12px;
    border: 1px solid #a3a3a3;
    border-radius: 12px;
  }
}
