.emojiList
{
    user-select: none;

    border: 1px solid black;
    border-radius: 6px;
    > nav
    {
        display: flex;
        overflow-x: auto;
        align-content: center;

        padding: 4px;

        white-space: nowrap;
        > span
        {
            padding: 8px 8px;
            &.selected
            {
                border-radius: 8px;
                background-color: #faf700;
            }
        };
    }
    > ul
    {
        font-size: 22px;
        line-height: 32px;

        display: flex;
        overflow: auto;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: center;

        height: calc(32px * 12);
        margin: 0 12px;

        border-top: 1px solid black;

        > li
        {
            width: 30.2px;
            margin: 3px;

            text-align: center;
            &.selected
            {
                border-radius: 5px;
                background-color: #faf700;
            }
        }
    }
}
