:root {
  --welcome-bg-color-start: #fffc00;
  --welcome-bg-color-end: #f6fa70;
  --welcome-card-bg: #f9f9f9;
  --welcome-text-color: #ff7f3f;
  --welcome-card-border: #eeeded;
  --welcome-bottom-nav-height: 64px;
  --z-index-bottom-nav: 10;
  --transition-duration: 340ms;
}
