.inputPad_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  > .dateAndAmount {
    font-family: monospace;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 14px;

    border-top: 1px solid var(--button-border-color);

    > .date {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--date-text);

      > .icon {
        width: 24px;
        height: 24px;
        margin-right: 14px;

        fill: var(--amount-text);
      }
    }

    > .amount {
      font-size: 20px;

      color: var(--amount-text);
    }
  }

  > .buttons {
    display: grid;
    flex-wrap: wrap;

    border-top: 1px solid var(--button-border-color);
    background-color: var(--button-border-color);

    grid-template-areas:
      "button1 button2 button3 clear"
      "button4 button5 button6 clear"
      "button7 button8 button9 submit"
      "button0 button0 dot submit";
    gap: 1px;
    grid-auto-rows: 54px;
    grid-auto-columns: 25%;
    > button {
      border: none;
      background: var(--button-bg-color);
      &:nth-child(1) {
        background-color: var(--button-bg-color-important);

        grid-area: submit;
      }
      &:nth-child(2) {
        grid-area: clear;
      }
      &:nth-child(3) {
        grid-area: button0;
      }
    }
  }
}
